* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
}
a {
  color: inherit;
}
body {
  background: #8bb6f6;
}
.main {
  padding: 65px 0;
}
.container {
  padding: 0 40px;
  margin: auto;
}

.main__row-title {
  display: flex;
  max-width: 1320px;
  justify-content: space-between;
  font-size: 36px;
  line-height: 42px;
  margin: 0px 60px;
  @media (max-width: 768px) {
    max-width: 713px;
    margin: 0px 40px;
  }
}
.item-title {
  flex: 0 1 33.3333%;
  margin-right: 120px;
  font-weight: 500;
  font-size: 36px;
  border-bottom: 3px solid #aeef6d;
  margin-bottom: 36px;
  &:last-child {
    margin-right: 0px;
  }
  @media (max-width: 768px) {
    font-size: 26px;
    line-height: 33px;
    margin-right: 37px;
  }
}
.item-title_left {
  border-bottom: 3px solid #f6b2b2;
}
.item-title_right {
  border-bottom: 3px solid #d167f6;
}

.main__row-block {
  display: flex;
  margin: 0px 40px;
  max-width: 1360px;
  @media (max-width: 768px) {
    max-width: 710px;
    margin: 0px 29px;
  }
}
.row-block__item {
  background-color: #c4c4c4;
  flex: 0 1 33.3333%;
  margin-right: 80px;
  display: flex;
  flex-direction: column;
  &:last-child {
    margin-right: 0px;
  }
  @media (max-width: 768px) {
    margin-right: 25px;
  }
}

.list__task {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  background-color: #f0f5fa;
  margin: 20px;
  margin-top: 11px;
  margin-bottom: 15px;
  padding: 7px;
  padding-left: 26px;
  padding-bottom: 9px;
  text-align: left;
  @media (max-width: 768px) {
    margin: 11px;
    margin-top: 11px;
    margin-bottom: 15px;
  }
}
.list__task_pink {
  border-left: 6px solid #f6b2b2;
}
.list__task_green {
  border-left: 6px solid #aeef6d;
}
.list__task_violet {
  border-left: 6px solid #d167f6;
}

.task__title {
  font-size: 24px;
  line-height: 28px;
  background: #f3f0f0;
  margin-bottom: 10px;
  @media (max-width: 768px) {
    font-size: 16px;
  }
}
.task__desc {
  flex: 1 1 auto;
  background: #f3f0f0;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 10px;
  @media (max-width: 768px) {
    font-size: 14px;
  }
}
.tasc__footer {
  font-size: 18px;
  line-height: 21px;
  display: flex;
  justify-content: space-between;
  @media (max-width: 768px) {
    font-size: 14px;
  }
}
.footer__user {
  background: #f3f0f0;
  flex: 1 0 auto;
}
.item__add-delete {
  display: flex;
  justify-content: space-between;
  margin: 15px 20px;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  @media (max-width: 768px) {
    flex-direction: column;
    font-size: 15px;
  }
}
.item__add::before {
  content: "";
  background: url(../img/plus-solid.svg) no-repeat;
  background-size: contain;
  display: inline-block;
  margin-right: 10px;
  width: 15px;
  height: 15px;
}
.item__add-delete_progress {
  display: block;
  text-align: end;
  @media (max-width: 768px) {
    text-align: center;
  }
}
